@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Калькулятор</h1>
	<form method="post" action="~/Home/SumAandB">
		<label>Первое число:</label><br/>
		<input type="number" name="numA"/><br/>
		<label>Действие:</label><br/>
		<select name="math">
			<option></option>
			<option>+</option>
			<option>-</option>
			<option>*</option>
			<option>/</option>
		</select><br/>
		<label>Второе число:</label><br/>
		<input type="number" name="numB"/><br/><br/>
		<input type="submit" value="Посчитать"/>
	</form>
</div>
